<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <h1>List of Employee</h1>
    <h3>Add a new Employee <a href="/employees/add/">here</a></h3>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Country</th>
                <th>Age</th>
                <th colspan="2">Option</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="list, iStat:${employeeList}">
            <td th:text="${iStat.count}">1</td>
            <td th:text="${list.name}">1</td>
            <td th:text="${list.country}">1</td>
            <td th:text="${list.age}">1</td>
            <td>
                <a th:href="@{'/employees/edit/' + ${list.id}}">Edit</a>
                <a th:href="@{'/employees/delete/' + ${list.id}}" >Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>